<div>
    <svg class="notification__bell" viewBox="0 0 79 79" width="79" height="79">
        <g
            stroke="currentColor"
            stroke-width="4">
            <g transform="translate(2 2)">
                <g transform="translate(37.5 0)">
                    <circle
                        cx="0"
                        cy="8"
                        r="8">
                    </circle>
                    <circle
                        class="bell__clapper"
                        cx="0"
                        cy="63"
                        r="12">
                    </circle>
                    <path
                        class="bell__body"
                        stroke-linejoin="round"
                        d="M 0 8 a 25 25 0 0 1 25 25 v 17 l 5 6 q 3 7 -6 7 h -48 q -9 0 -6 -7 l 5 -6 v -17 a 25 25 0 0 1 25 -25">
                    </path>
                </g>
            </g>
        </g>
    </svg>
    @Service.CountOfNotifications
</div>


