@inject BlazorNotifierClientService Notifi

<div style="padding: 10px 10px 10px 10px;line-height: 0.5">
    @foreach (var e in Notifi.Events.OrderByDescending(i => i.Key))
    {
        <p >@e.Key : @e.Value.Type - @e.Value.Title</p>
    }
</div>
@code
{
    protected override void OnInitialized()
    {
        Notifi.OnChange += StateHasChanged;
    }

}
