@using BlazorNotifier.Services.Implementations
@inject BlazorNotifierClientService notifi

<h3>Log</h3>
<div class="row" style="height: 150px; border: 1px solid darkgray; overflow-y: scroll; ">
    <BlazorNotifier.Components.Log/>
</div>
