@using BlazorNotifier.Classes
<div id="@Id" class="notification__message message--@Type" @onclick="OnClick">
    <h1>@Type</h1>
    <p>@Title</p>
    <button aria-labelledby="button-dismiss-@Id" @onclick="OnClose">
        <span id="button-dismiss-@Id" hidden> Dismiss</span >
        <svg viewBox="0 0 100 100" width="10" height="10">
            <g stroke="currentColor" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" fill="none">
                <g transform="translate(50 50) rotate(45)"><path d="M 0 -30 v 60 z M -30 0 h 60"></path></g>
            </g>
        </svg>
    </button >
</div>
@code
{
    [Parameter]
    public Guid Id{get; set; }
    [Parameter]
    public string Title{get; set; }
    [Parameter]
    public BlazorNotifierType Type{get; set; }
    [Parameter]
    public EventCallback<Guid> OnClickCallback { get; set; }
    [Parameter]
    public EventCallback<Guid> OnCloseClick { get; set; }

    void OnClick()=> OnClickCallback.InvokeAsync(Id);

    void OnClose() => OnCloseClick.InvokeAsync(Id);

}
