/*
    This file is to show how CSS and other static resources (such as images) can be
    used from a library project/package.
*/

.my-component {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}

@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* display the wrapping container in the top right corner of the viewport */
.notification-area {
    z-index: 9999;
    position: fixed;
    min-height: 98vh;
    top: 0.5rem;
    right: 1rem;
    /* align the content to the rigth */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: hsl(0, 0%, 20%);
    /* hide the overflow to conceal the message when translated to the right of the container */
    overflow-x: hidden;
    /* padding to avoid cropping the box-shadow on the message */
    padding: 0.25rem;
}

/* reduce the size of the icon and give a white fill to the elements of the graphic */
.notification__bell {
    display: block;
    width: 48px;
    height: auto;
    fill: hsl(0, 0%, 100%);
}

/* when the .notification container is given a class of .received animate the body and clapper of the bell to swing
! animate the clapper with a slight delay as to follow through the animation of the main body
*/
.notification-area.received .bell__body {
    animation: swingBody 0.7s 0.02s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.notification-area.received .bell__clapper {
    animation: swingClapper 0.7s 0.04s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
/* ! for both elements the rotation occurs using the parent group element as a hinge, allowing for the pendulum-like swing */
@keyframes swingBody {
    25% {
        transform: rotate(-5deg);
    }

    75% {
        transform: rotate(5deg);
    }
}
/* animation for the clapper, following the main body and with a larger rotation */
@keyframes swingClapper {
    5% {
        transform: rotate(0deg);
    }

    30% {
        transform: rotate(-8deg);
    }

    80% {
        transform: rotate(8deg);
    }
}

/* style the content of the message to show a grid with the dismiss button in the top right corner
|h1  |  button |
|p   |p        |
*/
.notification__message {
    display: grid;
    grid-gap: 0.2rem;
    grid-template-columns: 1fr auto;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    /* style the div as a rounded rectangle with a border on the left segment */
    background: hsl(0, 0%, 100%);
    border-radius: 10px;
    box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.1), 0 2px 3px hsla(0, 0%, 0%, 0.1);
    border-left: 0.5rem solid hsl(0, 0%, 100%);
    /* by default hide the element from sight and include a transition for the chosen properties */
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    transition-property: transform, opacity, visibility;
    transition-duration: 0.7s;
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.progress-message {
    width: 320px;
    max-width: 320px;
    font-size: 0.8rem;
}

.notification__message h1 {
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: capitalize;
}

.notification__message p {
    width: 320px;
    max-width: 320px;
    font-size: 0.8rem;
    grid-column: 1/-1;
}

.notification__message button {
    background: none;
    border: none;
    color: inherit;
    width: 20px;
    height: 20px;
    grid-column: 2/3;
    grid-row: 1/2;
}

    .notification__message button svg {
        display: block;
        width: 100%;
        height: 100%;
    }

/* when the .notification container has a class of .received transition the message into view */
.notification-area.received .notification__message {
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
}
/* change the border color according to the different modifiers
! for each modifier specify also an svg icon in the background, to highlight the message
*/
.message--Info {
    border-left-color: #90dee9;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><circle stroke="none" fill="%2390dee9" cx="50" cy="22" r="8"></circle><path fill="none" stroke="%2390dee9" stroke-width="12" stroke-linejoin="round" stroke-linecap="round" d="M 45 40 h 5 v 40 h -5 h 10"></path></svg>'), hsl(0, 0%, 100%);
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: 100% 100%;
}

.message--Success {
    border-left-color: #90e990;
    border-left-color: hsl(120, 67%, 74%);
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path fill="none" stroke="%2390e990" stroke-width="12" stroke-linejoin="round" stroke-linecap="round" d="M 20 52 l 25 25 l 30 -50"></path></svg>'), hsl(0, 0%, 100%);
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: 100% 100%;
}

.message--Warning {
    border-left-color: #e9e090;
    border-left-color: hsl(54, 67%, 74%);
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path fill="none" stroke="%23e9e090" stroke-width="12" stroke-linejoin="round" stroke-linecap="round" d="M 50 18 v 40"></path><circle stroke="none" fill="%23e9e090" cx="50" cy="78" r="8"></circle></svg>'), hsl(0, 0%, 100%);
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: 100% 100%;
}

.message--Error {
    border-left-color: #e99090;
    border-left-color: hsl(0, 67%, 74%);
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g transform="translate(50 50) rotate(45)"><path fill="none" stroke="%23e99090" stroke-width="12" stroke-linejoin="round" stroke-linecap="round" d="M 0 -30 v 60 z M -30 0 h 60"></path></g></svg>'), hsl(0, 0%, 100%);
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: 100% 100%;

}
.message--Progress {
    border-left-color: #000;
    border-left-color: hsl(0, 0%, 0%);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='50px' height='50px' viewBox='0 0 50 50' enable-background='new 0 0 50 50' xml:space='preserve'%3e%3cimage id='image0' width='50' height='50' x='0' y='0' href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAQAAAC0NkA6AAAABGdBTUEAALGPC/xhBQAAACBjSFJN AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZ cwAADsMAAA7DAcdvqGQAAAAHdElNRQfkChIMGwUh57LwAAADgUlEQVRYw+3YTWxUVRQH8N+UMtpO C5SPYOQzaYxWErBo/QhqQpREFxqFVVkau+ND0YUJmgqJaHClxo2JK5ugEFw07DSYYFARMKERYtRQ C2IRYylFoJR2jgvGDu3MdOYVSVjwf5t3zzv3/u85975zz7ncws2GVCLtmVrU4aI+fzrjYmXdqivQ aRD6QZMd6jFi0Fm/OWiv7/Vdr6V32uiAN3KtJc6IMc8FB2wy/3oo1jhiWDhoFrhDp/32Oey4c0Zy RMO6tKmbLEmby0Lo1gxS6mVkzLDQCuvs1isrKwzapWlyJHU+94d3LTe16Pe0Zd52QsgKXZ6ofOgq d6vNvd9lmaoJtVOW6nBJCD2eqZRklZ+1uy2BxTXW57ZET2XW3OOIMOilRI5NWe2kELrKr03GTiGc 8XwiElids2ZnuZ023YfOu2xDYgpY75JwWVs5xbQ1tk5y19f6RAhHLCivXFVepQSW6RFGbJr0CCVm P29M+x0hfJeLEQVo8apmNYkoqm12yMprJPfpFS54qniHbcLf2hORvGhA6PHoqCRttxC255Xy3q/x IGYaSEDxrLfU45TeUdmQrwQeGI0a12CRbuG8xyqmWOFXIRy1fJz8nNBtcWGXRnsc9a2FFVLc6wch nPRkwXSPC/0eKuyUUmuO+aaMk8+VLkKxwJdC6NNa8G2Gw8Kgpyt1SZN9tqgfJ53pUyHrgo1F/qmM r4Ur1lRGMUunMKRjjBNrvW9Y1hXbilo5AUlKjdnmjXHXYvuErKz9Hs7Jqm02KCvr4wILy7qrUacf CxZ+kQ5DskK3VlPQZkAIneaWsH+Chf9vCz8+Tl6vXb8Q+r1urdNC2K+xpJMn2MI1vhCiSGir1qpb yBo0ICscc/8EK7lOVtib/xnze+OSg+g3vaDTsB1afYO0Oim/2+hwSYq0lVI4VDy/bPGalmLBACzU YUjos9ZEKBMgy6Feu14vlzltyoT6PEoNk9Zc0tKrqPDQmuo5b076+O2o5Pid5j0DNzqRqPXZjU+J 8sndK4kIEiV3sMovtro9AUVt0jSVKk0yufdGS29Mwp1Hxi6nbNf8/5cOebwwWgQtz826dBG0s/Ra TFyY9vvJElP0OQHm+MgcIzIazJbJOXLEMR/Y4Z/J2AHzbHDAllyrKRfoExamldTxDTgLHrHHNIlL 7GSXBQ1a1Lt6WXDaX5VeFtzCzYd/AXkUYxQ0LpO5AAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIwLTEw LTE4VDEyOjI3OjA0KzAwOjAwLuLbLgAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMC0xMC0xOFQxMjoy NzowNCswMDowMF+/Y5IAAAAASUVORK5CYII=' /%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: 100% 100%;
}

/*indeterminate progress*/

@-webkit-keyframes greenglow {
    from {
        left: -120px;
    }

    to {
        left: 100%;
    }
}

@-moz-keyframes greenglow {
    from {
        left: -120px;
    }

    to {
        left: 100%;
    }
}

@-o-keyframes greenglow {
    from {
        left: -120px;
    }

    to {
        left: 100%;
    }
}

@keyframes greenglow {
    from {
        left: -120px;
    }

    to {
        left: 100%;
    }
}

.progress-indeterminate {
    height: 16px;
    border-radius: .25rem;
    position: relative;
    overflow: hidden;
    background: #E6E6E6;
    margin: 0;
}

    .progress-indeterminate:after {
        content: " ";
        display: block;
        width: 100px;
        top: -50%;
        height: 250%;
        position: absolute;
        animation: greenglow 3s linear infinite;
        -webkit-animation: greenglow 3s linear infinite;
        z-index: 2;
        background: #007bff;
    }
/*indeterminate progress end*/

#container {
    min-height: 100vh;
    position: relative;
}

#header {
    padding: 10px;
}

#body {
    padding: 10px;
    padding-bottom: 70px; /* Высота блока "footer" */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px; /* Высота блока "footer" */
}
