@page "/"
@using BlazorNotifier.Services.Implementations
@using BlazorNotifier.Services
@inject HttpClient client
@inject BlazorNotifierClientService NotifiService

<button class="btn btn-info" @onclick="StartTest">Start Test</button>
@foreach (var messsage in NotifiService.Notifications)
{
    <p>@messsage.Id    |   @messsage.Title</p>
}
@code{
    async Task StartTest()
    {

        var result = await client.GetAsync($"NotificationTest/GetSomeData/{NotifiService.UserId}");
        if (result.IsSuccessStatusCode)
        {

        }

    }
    protected override void OnInitialized()
    {
        NotifiService.OnChange += StateHasChanged;
    }


}