@page "/"
@using BlazorNotifier.Services.Implementations
@using BlazorNotifier.Services
@using BlazorNotifier.Classes
@inject HttpClient client
@inject BlazorNotifierClientService NotifiService

<div style="height: 300px; display: flex; flex-direction: column; justify-content: space-between;">
    <button class="btn btn-info" @onclick="StartTest">Start Test from server</button>
    <br/>
    <button class="btn btn-info" @onclick="ShowNotification">Message</button>
    <br/>
    <div class="row" style="width: 400px; display: flex; justify-content: space-between " >
        <button class="btn btn-info" @onclick="ShowProgress">Progress</button>
        <button class="btn btn-info" @onclick="() => UpdatePlus(ServerProgress)">+</button>
        <button class="btn btn-info" @onclick="() => UpdateMinus(ServerProgress)">-</button>
        <button class="btn btn-info" @onclick="() => UpdateNull(ServerProgress)">determinate</button>
        <button class="btn btn-info" @onclick="() => CloseProgress(ServerProgress.Id)">close</button>
    </div>
    <div class="row" style="width: 400px; display: flex; justify-content: space-between " >
        <button class="btn btn-info" @onclick="TestClientProgress">Client progress bar</button>
    </div>
</div>
@code{
    async Task StartTest()
    {

        var result = await client.GetAsync($"NotificationTest/GetSomeData/{NotifiService.UserId}");
        if (result.IsSuccessStatusCode)
        {

        }

    }
    protected override void OnInitialized()
    {
        NotifiService.OnChange += StateHasChanged;
    }

    int counter = 1;
    async Task ShowNotification()
    {
        var random = new Random();
        var type = random.Next(2, 6);
        NotifiService.SendNotification(new BlazorNotifierMessage { Title = $"{(BlazorNotifierType)type}", Type = (BlazorNotifierType)type });

        await InvokeAsync(StateHasChanged);
    }

    BlazorNotifierProgressMessage ServerProgress;
    BlazorNotifierProgressMessage ClientProgress;
    private int? _Percent;
    public int? Percent { get => _Percent ; private set => _Percent = value; }

    async Task ShowProgress()
    {
        ServerProgress = new BlazorNotifierProgressMessage {Message = "Test message", Title = "Progress", Percent = Percent };
         
        NotifiService.SendOrUpdateProgress(ServerProgress);

        await InvokeAsync(StateHasChanged);
    }

    async Task UpdatePlus(BlazorNotifierProgressMessage progress)
    {
        Percent ??= 0;
        var value = Percent++;
        progress.Percent = value;
        NotifiService.SendOrUpdateProgress(progress);
        await InvokeAsync(StateHasChanged);
    }
    async Task UpdateMinus(BlazorNotifierProgressMessage progress)
    {
        Percent ??= 0;
        if(Percent < 0) Percent = 0;
        var value = Percent--;
        progress.Percent = value;
        NotifiService.SendOrUpdateProgress(progress);
        await InvokeAsync(StateHasChanged);
    }
    async Task UpdateNull(BlazorNotifierProgressMessage progress)
    {
        Percent = null;
        var value = Percent;
        progress.Percent = value;
        NotifiService.SendOrUpdateProgress(progress);
        await InvokeAsync(StateHasChanged);
    }

    async Task CloseProgress(Guid id)
    {
        NotifiService.CloseProgress(id);
        await InvokeAsync(StateHasChanged);
    }

    async Task TestClientProgress()
    {

        using var progress = new BlazorNotifierProgress(NotifiService);

        await SomeMethod(progress);

        progress.Report((null,"Finish","Last method"));
        await Task.Delay(3000);

    }

    async Task SomeMethod(IProgress<(int?,string, string)> progress)
    {
        for (var i = 0; i < 101; i++)
        {
            if(i>30 && i <50)
                progress.Report((null,$"Title {i}", $"intermediate"));
            else
                progress.Report((i,$"Title {i}", $"Message {i}"));
            await Task.Delay(300);
        }
            

    }
}